<% provide(:title, "Projects") %>
Project Details
<p>
	1 – Cebuanos’ Voice [Web Applications Development Project]
	Duration: September 2015 - October 2015
	Team Size: 2
	Role Played: Leader, Back-end Developer and Tester
	Skills Used:
	Language: HTML, CSS, JavaScript, PHP
	Database: MySQL
	Cebuanos’ voice is a website concept for Cebuanos to vote and talk about issues in the
	Cebuano community. The website feateured a poll for each issue as well as a comment
	section for users to discuss about online.
</p>
<%= image_tag("cebuanosVoice 1 - login page.PNG", alt: "", size: "80x80") %>
<%= image_tag("cebuanosVoice 2 - polls voting page.PNG", alt: "", size: "80x80") %>
<%= image_tag("cebuanosVoice 3 - Polls results.PNG", alt: "", size: "80x80") %>
<p>
	2 – GrowTech Database Management System [Database Project]
	Duration: December 2015 – September, 2016
	Team Size: 4
	Role Played: Leader, Back-end Developer and Tester, Front-End Layout Designer Skills Skills Used: 
	    Language:  HTML, CSS, JavaScript, JQuery, PHP
	   Database: MySQL 
	GrowTech Database Management System was tailored to meet the main functions of Growtech Commercial. These functions are assigning delivery schedule and managing orders, invoices, and payments.
</p>
<%= image_tag("growtech 1 - login.PNG", alt: "", size: "80x80") %>
<%= image_tag("growtech 2 -deliver, order calendar.PNG", alt: "", size: "80x80") %>
<%= image_tag("growtech 3 - delivery and order.PNG", alt: "", size: "80x80") %>
<%= image_tag("growtech 4 - reports.PNG", alt: "", size: "80x80") %>
<%= image_tag("growtech 5-new order fill up.PNG", alt: "", size: "80x80") %>
<p>
	3 – SeeTrue - Android OCR application with Filipino-English Translation [Thesis Project]
	Duration: July 2016 – September 2016
	Team Size: 2
	Role Played: Lead Developer
	Skills Used:
	IDE/Platform: Android Studio
	Language: Android Java
	SeeTrue is an Android mobile application that recognizes text in images through the use of
	optical character recognition (OCR). The mobile application uses the Tesseract OCR engine
	for its OCR module. The mobile application also allows the resulting text to be translated
	between the two languages, Filipino and English. Yandex Translate is the API used for the
	translation.
</p>
<%= image_tag("seetrue 1 - logo.png", alt: "", size: "80x80") %>
<%= image_tag("seetrue 2 - home screen.png", alt: "", size: "80x80") %>
<%= image_tag("seetrue 3 - image screen.png", alt: "", size: "80x80") %>
<%= image_tag("seetrue 4 - ocr result.png", alt: "", size: "80x80") %>
