<% provide(:title, "Projects") %>
<div class = "jumbotron">
	<center>
		<%= image_tag("project.jpg", alt: "Projects", size: "200x200") %>
	</center>
	<h1>Projects</h1>
</div>
<div class = "jumbotron">
	<p>
		<b><u>1 – Cebuanos’ Voice [Web Applications Development Project]</u></b>
		<br/>
		<b>Duration:</b> September 2015 - October 2015
		<br/>
		<b>Team Size:</b> 2
		<br>
		<b>Role Played:</b> Leader, Back-end Developer and Tester
		<br/>
		<b>Skills Used:</b>
		<ul>
			<li><b>Language:</b> HTML, CSS, JavaScript, PHP</li>
			<li><b>Database:</b> MySQL</li>
		</ul>
		<p>
			Cebuanos’ voice is a website concept for Cebuanos to vote and talk about issues in the Cebuano community. The website feateured a poll for each issue as well as a comment section for users to discuss about online.
		</p>
	</p>
	<center>
		<div>
			<%= image_tag("cebuanosVoice 1 - login page.PNG", alt: "", size: "600x500") %>
			<br/>
			Login Page
		</div>
		<div class="imgSeparatorTop">
			<%= image_tag("cebuanosVoice 2 - polls voting page.PNG", alt: "", size: "700x400") %>
			<br/>
			Poll Voting Page
		</div>
		<div>
			<%= image_tag("cebuanosVoice 3 - Polls results.PNG", alt: "", size: "700x400") %>
			<br/>
			Poll Results Page
		</div>
	</center>
</div>
<div class = "jumbotron">
	<p>
		<b><u>2 – GrowTech Database Management System [Database Project]</u></b>
		<br/>
		<b>Duration:</b> December 2015 – September, 2016
		<br/>
		<b>Team Size:</b> 4
		<br/>
		<b>Role Played:</b> Leader, Back-end Developer and Tester, Front-End Layout Designer Skills 
		<br/>
		<b>Skills Used:</b>
		<ul>
		   <li>Language:  HTML, CSS, JavaScript, JQuery, PHP</li>
		   <li>Database: MySQL </li>
		</ul>
		<p>
			GrowTech Database Management System was tailored to meet the main functions of Growtech Commercial. These functions are assigning delivery schedule and managing orders, invoices, and payments.
		</p>
	</p>
	<center>
		<div>
			<%= image_tag("growtech 1 - login.PNG", alt: "", size: "600x400") %>
			<br/>
			Login Page
		</div>
		<div class="imgSeparatorTop">
			<%= image_tag("growtech 2 -deliver, order calendar.PNG", alt: "", size: "700x350") %>
			<br/>
			Order and Delivery Calendar
		</div>
		<div class="imgSeparator">
			<%= image_tag("growtech 3 - delivery and order.PNG", alt: "", size: "400x500") %>
			<br/>
			Delivery and Order
		</div>
		<div class="imgSeparator">
			<%= image_tag("growtech 4 - reports.PNG", alt: "", size: "600x500") %>
			<br/>
			Reports
		</div>
		<div>
			<%= image_tag("growtech 5-new order fill up.PNG", alt: "", size: "700x400") %>
			<br/>
			New Order Fill Up Form
		</div>
	</center>
</div>
<div class = "jumbotron">
	<p>
		<b><u>3 – SeeTrue - Android OCR application with Filipino-English Translation [Thesis Project]</u></b>
		<br/>
		<b>Duration:</b> July 2016 – September 2016
		<br/>
		<b>Team Size:</b> 2
		<br/>
		<b>Role Played:</b> Lead Developer
		<br/>
		<b>Skills Used:</b>
		<ul>
			<li><b>IDE/Platform:</b> Android Studio</li>
			<li><b>Language:</b> Android Java</li>
		</ul>
		<p>
			SeeTrue is an Android mobile application that recognizes text in images through the use of optical character recognition (OCR). The mobile application uses the Tesseract OCR engine for its OCR module. The mobile application also allows the resulting text to be translated ages, Filipino and English. Yandex Translate is the API used for the translation.
		</p>
	</p>
	<center>
		<div>
			<%= image_tag("seetrue 1 - logo.png", alt: "", size: "200x200") %>
			<br/>
			Application Logo
		</div>
		<div class="imgSeparatorTop">
			<%= image_tag("seetrue 2 - home screen.png", alt: "", size: "200x300") %>
			<br/>
			Home Screen
		</div>
		<div class="imgSeparator">
			<%= image_tag("seetrue 3 - image screen.png", alt: "", size: "200x300") %>
			<br/>
			Loaded Image Screen
		</div>
		<div>
			<%= image_tag("seetrue 4 - ocr result.png", alt: "", size: "200x300") %>
			<br/>
			OCR Results Screen
		</div>
	</center>
</div>