<footer class="footer">
	<small>
		<%= link_to "Portfolio App", root_path %> by <%= link_to "Heinrich Von P. Woogue",about_path %>
	</small>
	&nbsp
	<ul>
		<li><%= link_to "About",about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><%= link_to "Help", help_path %></li>
	</ul>
</footer>