<header class="navbar navbar-fixed-top">
	<div class="container">
		<!--
		<%= link_to image_tag("sancarlos.png", alt: "USC", size: "50x50"), 'http://usc.edu.ph/', id: 'usc-logo' %>
		-->
		<ul class="nav navbar-nav"> 
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact Me", contact_path %></li>
			<li><%= link_to "Who am I", whoAmI_path %></li>
			<li><%= link_to "Thoughts on IT", thoughtsOnIt_path %></li>
			<li><%= link_to "Hire me", hireMe_path %></li>
			<li><%= link_to "Projects", projects_path %></li>
		</ul>
	</div>
</header>